@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --first-font: "Inter", sans-serif;
  --second-font:  "Urbanist", sans-serif;
  --font-size:15px;
  --font-weight:600;
  --bg-primary:#ffff;
  --bg-secondry:#12372A;
  --bg-accent:#F1C30C;
  --bg-accent2:hsl(160, 52%, 20%);
  --bg-third:#FAF8EC;
  --bg-accent3:#ECECEC;
  --bg-fourth:#F1FFEA;   
}
body{
 font-family: var(--first-font);
 background-color: var(--bg-primary);
}
.container{
  padding: 0 .1rem;
  margin: 0 auto;
  @media (max-width>=768px) {
    max-width: 720px;
    
  }
  @media (max-width>=992px) {
    max-width: 960px;
    
  }
  @media (max-width>=1900px) {
    max-width: 1920px;
    
  }
}
.navbar{
  padding: .3rem 35px;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-secondry);
  color: var(--bg-primary);
  .domain{
    display: flex;
    padding: .3rem;
    gap: 10px;
  }
}
.navbar-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: var(--bg-primary);
  nav{
    display: flex;
    gap: 20px;
  }
  .nav-link{
    font-size: 18px;
    font-family: var(--second-font);
    font-weight: var(--font-weight);
    text-decoration: none;
    color: var(--bg-secondry);
  }
  .nav-link.active{
    color: var(--bg-accent);
  }
 

}
.submit{
  width: 129px;
  height: 45px;
  background-color: var(--bg-accent);
  color: var(--bg-secondry);
  border-radius: .5rem;
  border:none;
  padding: .3rem .5rem;
  font-family: var(--second-font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  &:hover{
    background-color: hsl(48, 49%, 65%);
  }
}
.submit1{
  width: 129px;
  height: 45px;
  background-color: var(--bg-accent);
  color: var(--bg-secondry);
  border-radius: .5rem;
  border:none;
  padding: .3rem .5rem;
  font-family: var(--second-font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  &:hover{
    background-color: var(--bg-primary);
    color: var(--bg-secondry);
  }
}
.logos{
  display: flex;
  gap: 15px;
}
.hero{
  height: 715px;
  background-color: var(--bg-accent2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;

}
h4{
  font-family: var(--second-font);
  font-size: 25px;
  font-weight: 700;
  color: var(--bg-accent);
}
h1{
  font-family: var(--first-font);
  font-size: 80px;
  font-weight: 700;
  color: var(--bg-primary);
}
.paragraph{
  white-space: nowrap;
  font-family: var(--first-font);
  font-size: 16px;
  color: var(--bg-primary);
}
.discover-btn{
  margin-top: 20px;
  width: 149px;
  height: 42px;
  background-color: var(--bg-accent);
  color: var(--bg-secondry);
  border: none;
  border-radius: .5rem;
  font-size: var(--font-size);
  font-family: var(--second-font);
  font-weight: var(--font-weight);
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
  &:hover{
    background-color: hsl(48, 67%, 73%);
  }
}
.discover-btn1{
  margin-top: 20px;
  width: 149px;
  height: 42px;
  background-color: var(--bg-accent);
  color: var(--bg-secondry);
  border: none;
  border-radius: .5rem;
  font-size: var(--font-size);
  font-family: var(--second-font);
  font-weight: var(--font-weight);
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
  &:hover{
    background-color: var(--bg-primary);
    color: var(--bg-secondry);
  }
}
.rectangle{
  padding-top: 180px;

}
.about-us{
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 733px;
  background-color: var(--bg-primary);
  .bg{
    position: relative;
  }
  .Rectangle-1{
    position: relative;
    bottom: 50px;
    left:20px;
    z-index: 1;
  }
  .experience{
    position: absolute;
    z-index: 2;
    top: 0;
    padding: 30px 50px;
    font-family: var(--second-font);
    font-size: 64px;
    font-weight: 800;
    color: var(--bg-accent);
  }
  .paragraph-1{
    position: absolute;
    z-index: 2;
    bottom: 20px;
    font-family: var(--first-font);
    font-size: 16px;
    color: var(--bg-primary);
    padding-left: 50px;
  }
  .clients{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    padding: 30px 220px;
    font-family: var(--second-font);
    font-size: 64px;
    font-weight: 800;
    color: var(--bg-accent);

  }
  .paragraph-2{
    position: absolute;
    z-index: 2;
    bottom: 20px;
    padding-left: 250px;
    font-family: var(--first-font);
    font-size: 16px;
    color: var(--bg-primary);

  }
  .house{
    position: absolute;
    z-index: 2;
    right: 70px;
    top: 30px;
    font-family: var(--second-font);
    font-size: 64px;
    font-weight: 800;
    color: var(--bg-accent);
  }
  .paragraph-3{
    position: absolute;
    z-index: 2;     
    bottom: 20px;
    right: 95px;
    font-family: var(--first-font);
    font-size: 16px;
    color: var(--bg-primary);
  }
}
.about{
  margin-top: 95px;
}
.about-1{
  line-height: 1.8;
  margin-top: 95px;
  h3{
    line-height: normal;
    font-family: var(--second-font);
    font-size: 52px;
    font-weight: 700;
    color: var(--bg-secondry);
  }
  .paragraph-4{
    font-family: var(--first-font);
    font-size: 16;
    color: var(--bg-secondry);
        
  }             
}
.vision-1{
  margin-top: 10px;
  display: flex;
  gap: 30px;
  .vision{
    border: 1px solid var(--bg-accent3);
    border-radius: 10px;
    width: 321px;
    height: 156px;
    padding: .5rem .8rem;
  }
  h5{
    font-family: var(--second-font);
    font-size: 24px;
    font-weight: var(--font-weight);
    color: var(--bg-secondry);
  }
  .Mission{
    border: 1px solid var(--bg-accent);
    border-radius: 10px;
    width: 321px;
    height: 156px;
    padding: .5rem .8rem;

  }
  
}
.icon{
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 40px;
    h6{
      font-family: var(--second-font);
      font-size: 20px;
      font-weight: 700;
      color: var(--bg-secondry);
    }
    h5{
    font-family: var(--second-font);
    font-size: 24px;
    font-weight: var(--font-weight);
    color: var(--bg-secondry);
  }
  .icon-1{
    padding-left: 50px;
  }
  .information{
    display: block;
  }
}
.logoipsum{
  background-color: var(--bg-third);
  height: 148px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.our-services{
  height: 682px;
  background-color: var(--bg-primary);
  display: grid;
  grid-template-columns: 1fr 520px 1fr;
  grid-template-rows: auto auto;
  column-gap: 20px;
  .our-services-1{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    grid-column: 1/4;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 200px; 
  } 
  .our-services-4{
    margin-left: 90px;
  }
  h4{
    font-family: var(--second-font);
    font-size: 25px;
    font-weight: 700;
    color: var(--bg-accent);
  }
  h3{
    font-family: var(--second-font);
    font-size: 52px;
    font-weight: 700;
    color: var(--bg-secondry);
    margin-top: 20px;
  }
  .paragraph-4{
    margin-top: 60px;
    font-family: var(--first-font);
    font-size: 16;
    color: var(--bg-secondry);
    line-height: 1.6;
  }
  .our-services-2{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-items: center;  
  }
  .diverse{
    border: 1px solid var(--bg-accent);
    border-radius: 10px;
    width: 390px;
    height: 155px;
    padding: .5rem .8rem;
    h4{
        margin-top: 20px;
        font-family: var(--second-font);
        font-size: 25px;
        font-weight: 700;
        color: var(--bg-secondry);
    }
    .paragraph-4{
      margin-top: 10px;
      font-family: var(--first-font);
      font-size: 16;
      color: var(--bg-secondry);
      
    }             
    
  }
  .moving{
    margin-top:20px ;
    border: 1px solid var(--bg-accent3);
    border-radius: 10px;
    width: 390px;
    height: 155px;
    padding: .5rem .8rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    h4{
      margin-top: 20px;
      font-family: var(--second-font);
      font-size: 25px;
      font-weight: 700;
      color: var(--bg-secondry);
    }
    .paragraph-4{
      margin-top: 10px;
      font-family: var(--first-font);
      font-size: 16;
      color: var(--bg-secondry);
    }             
  }
  .bg-1{
    display: flex;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .our-services-3{
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .storage{
      border: 1px solid var(--bg-accent3);
      border-radius: 10px;
      width: 390px;
      height: 155px;
      padding: .5rem .8rem;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
      h4{
        margin-top: 20px;
        font-family: var(--second-font);
        font-size: 25px;
        font-weight: 700;
        color: var(--bg-secondry);
    }
    .paragraph-4{
      margin-top: 10px;
      font-family: var(--first-font);
      font-size: 16;
      color: var(--bg-secondry);
      
    }             
    
  }
  .Security{
      border: 1px solid var(--bg-accent3);
      border-radius: 10px;
      width: 390px;
      height: 155px;
      padding: .5rem .8rem;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
      h4{
        margin-top: 20px;
        font-family: var(--second-font);
        font-size: 25px;
        font-weight: 700;
        color: var(--bg-secondry);
      }
      .paragraph-4{
        margin-top: 10px;
        font-family: var(--first-font);
        font-size: 16;
        color: var(--bg-secondry);
      }
    }
  }
  .banner{
    background-color: var(--bg-secondry);
    height: 467px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 34px;
    h1{
      margin-left: 298px;
      font-family: var(--first-font);
      font-size: 80;
      font-weight: 700;
      color: var(--bg-fourth);
    }
    .paragraph-4{
      margin-left: 298px;
      font-family: var(--first-font);
      font-size: 16;
      color: var(--bg-fourth);
    }
  }
  .footer{
    background-color: var(--bg-secondry);
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 704px;
    .paragraph-4{
      font-family: var(--first-font);
      font-size: 16;
      color: var(--bg-primary);
    }
    .footer-1{
      display: flex;
      gap: 43px;
      .terms{
        display: flex;
        gap: 20px;
        .paragraph-4{
          font-family: var(--first-font);
          font-size: 16;
          color: var(--bg-primary);
        }
      }
      .privacy{
        display: flex;
        gap: 10px;
        .paragraph-4{
          font-family: var(--first-font);
          font-size: 16;
          color: var(--bg-primary);
        }
      }
    } 
  } 
  .choose-us{
    background-color: var(--bg-third);
    height: 788px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    .choose{
       h4{
        margin-top: 20px;
        font-family: var(--second-font);
        font-size: 25px;
        font-weight: 700;
        color: var(--bg-accent);
      }
      h3{
        font-family: var(--second-font);
        font-size: 52px;
        font-weight: 700;
        color: var(--bg-secondry);
        margin-top: 20px;
    }
    }
    .Money{
      display: flex;
      gap: 20px;
      h5{
        margin-top: 15px;
        font-family: var(--second-font);
        font-size: 24px;
        font-weight: var(--font-weight);
        color: var(--bg-secondry);
      }
      .paragraph-4{
        margin-top: 20px;
        font-family: var(--first-font);
        font-size: 16;
        color: var(--bg-secondry);
        line-height: 1.6;
      }
    }
    .lock{
      display: flex;
      gap: 20px;
      h5{
        margin-top: 15px;
        font-family: var(--second-font);
        font-size: 24px;
        font-weight: var(--font-weight);
        color: var(--bg-secondry);
      }
      .paragraph-4{
        margin-top: 20px;
        font-family: var(--first-font);
        font-size: 16;
        color: var(--bg-secondry);
        line-height: 1.6;
      }
    }
    .clean{
      display: flex;
      gap: 20px;
      h5{
        margin-top: 15px;
        font-family: var(--second-font);
        font-size: 24px;
        font-weight: var(--font-weight);
        color: var(--bg-secondry);
      }
      .paragraph-4{
        margin-top: 20px;
        font-family: var(--first-font);
        font-size: 16;
        color: var(--bg-secondry);
        line-height: 1.6;
      }
    }
    .clock{
      display: flex;
      gap: 20px;
      h5{
        margin-top: 15px;
        font-family: var(--second-font);
        font-size: 24px;
        font-weight: var(--font-weight);
        color: var(--bg-secondry);
      }
      .paragraph-4{
        margin-top: 20px;
        font-family: var(--first-font);
        font-size: 16;
        color: var(--bg-secondry);
        line-height: 1.6;
      }
    }
    .choose-1{
      display: flex;
      flex-direction: column;
      gap: 40px;
      .paragraph-4{
        margin-top: 30px;
        font-family: var(--first-font);
        font-size: 16;
        color: var(--bg-secondry);
        line-height: 1.6;
      }
    }
  
} 
.looking{
  background-color: var(--bg-accent2);
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  text-align: center;
  h3{

    line-height: normal;
    font-family: var(--second-font);
    font-size: 52px;
    font-weight: 700;
    color: var(--bg-primary);
  }
  .paragraph-4{
    margin-top: 30px;
    font-family: var(--first-font);
    font-size: 16;
    color: var(--bg-primary);
    line-height: 1.6;
    margin-bottom: 20px;
  }

}
.testimonials{
  background: url("../src/assets/bg-1.svg") center/cover no-repeat;
  padding: 80px 0;
  text-align: center;
  height: 669px;
  position: relative;
  .content{
    position: absolute;
    background: rgb(25, 68, 36, 0.85);
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .testimonials-1{
    position: relative;
    z-index: 2;

  }
  .paragraph-4{
    margin-top: 30px;
    font-family: var(--first-font);
    font-size: 16;
    color: var(--bg-primary);
    line-height: 1.6;
    margin-bottom: 20px;
  }
   h3{
    margin-top: 20px;
    line-height: normal;
    font-family: var(--second-font);
    font-size: 52px;
    font-weight: 700;
    color: var(--bg-primary);
  }
  h4{
    margin-top: 20px;
    font-family: var(--second-font);
    font-size: 25px;
    font-weight: 700;
    color: var(--bg-accent);
  }
  
}
.testimonials-2{
  display: grid;
  grid-template-columns: 466px 466px 466px;
  justify-content: center;
  position: relative;
  .bg-2{
    position: absolute;
    z-index: 1;
  }
  .customer{
    position: relative;
    z-index: 2;
    top: 30px;
    left: 30px;
    display: flex;
  }
  .stars{
    display: flex;
  }
  .avatar{
    display: flex; 
    gap: 20px;
    .comma{
      margin-top: 50px;
      margin-left: 60px;
    }
  }
}
.avatar-1{
  h6{
    margin-top: 15px;
    font-family: var(--second-font);
    font-size: 20px;
    font-weight: 700;
    color: var(--bg-secondry);
  }
  .paragraph-4{
    font-family: var(--first-font);
    font-size: 14px;
    color: var(--bg-secondry);
  }
}
 
  .customer img{
    display: flex;
  }

  .paragraph-4{
    margin-top: 30px;
    font-family: var(--first-font);
    font-size: 16;
    color: var(--bg-secondry);
    line-height: 1.6;
  }
  
 .customer-2,.customer-3,.customer-1{
  position: relative;
  z-index: 2;
  justify-items: center;
  .bg-2{
    position: absolute;
    z-index: 1;
  }
  .customer{
    position: relative;
    z-index: 3;
    top: 30px;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  .customer img{
    display: flex;
  }

  .paragraph-4{
    text-align: start;
    margin-top: 30px;
    font-family: var(--first-font);
    font-size: 16;
    color: var(--bg-secondry);
    line-height: 1.6;
  }
}

.bg-2{
  position: absolute;
  z-index: 1;
}
.customer{
  position: relative;
  z-index: 3;
  top: 30px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.customer img{
  display: flex;
}

.paragraph-4{
  margin-top: 30px;
  font-family: var(--first-font);
  font-size: 16;
  color: var(--bg-secondry);
  line-height: 1.6;
}

.blog{
  background-color: var(--bg-primary);
  height: 914px;
  display: grid;
  gap: 20px;
  place-content: center;
  margin-top: 82px;
  .blog-3{
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 140px;
  }
  .blog-1{
    h4{
      font-family: var(--second-font);
      font-size: 25px;
      font-weight: 700;
      color: var(--bg-accent);
    }
    h3{
      margin-top: 10px;
      font-family: var(--second-font);
      font-size: 52px;
      font-weight: 700;
      color: var(--bg-secondry);
      white-space: nowrap;
    }
  }
  .paragraph-4{
    margin-top: 80px;
    font-family: var(--first-font);
    font-size: 16;
    color: var(--bg-secondry);
    white-space: nowrap;
    
  }
  .blog-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 20px;
    
    .border{
      border: 1px solid var(--bg-secondry);
      background-color: var(--bg-secondry);
      height: 558px;
      width: 430px;
      border-radius: 3px;
      &:hover{
      background-color: var(--bg-fourth);
      color: var(--bg-secondry);}
    }
    
    .border-1{
      border: 1px solid var(--bg-secondry);
      background-color: var(--bg-secondry);
      height: 558px;
      width: 430px;
      border-radius: 3px;
      &:hover{
      background-color: var(--bg-fourth);
      color: var(--bg-secondry);}
    }
    
    .border-2{
      border: 1px solid var(--bg-secondry);
      background-color: var(--bg-secondry);
      height: 558px;
      width: 430px;
      border-radius: 3px;
      &:hover{
      background-color: var(--bg-fourth);
      color: var(--bg-secondry);}

    }

  }

}
.bg-3{
  position: relative;
}
.email{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.location{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testimonial{
  background-color: var(--bg-accent2);
  padding: 80px 0;
  text-align: center;
  height: 669px;
  .paragraph-4{
    margin-top: 30px;
    font-family: var(--first-font);
    font-size: 16;
    color: var(--bg-primary);
    line-height: 1.6;
    margin-bottom: 20px;
  }
   h3{
    margin-top: 20px;
    line-height: normal;
    font-family: var(--second-font);
    font-size: 52px;
    font-weight: 700;
    color: var(--bg-primary);
  }
  h4{
    margin-top: 20px;
    font-family: var(--second-font);
    font-size: 25px;
    font-weight: 700;
    color: var(--bg-accent);
  }
  
}
.testimonial-2{
  display: grid;
  grid-template-columns: 466px 466px 466px;
  justify-content: center;
  position: relative;
  .bg-2{
    position: absolute;
    z-index: 1;
  }
  .customer{
    position: relative;
    z-index: 2;
    top: 30px;
    left: 30px;
    display: flex;
  }
  .stars{
    display: flex;
  }
  .avatar{
    display: flex; 
    gap: 20px;
    .comma{
      margin-top: 50px;
      margin-left: 60px;
    }
  }
}
.avatar-1{
  h6{
    margin-top: 15px;
    font-family: var(--second-font);
    font-size: 20px;
    font-weight: 700;
    color: var(--bg-secondry);
  }
  .paragraph-4{
    font-family: var(--first-font);
    font-size: 14px;
    color: var(--bg-secondry);
  }
}
 
  .customer img{
    display: flex;
  }

  .paragraph-4{
    margin-top: 30px;
    font-family: var(--first-font);
    font-size: 16;
    color: var(--bg-secondry);
    line-height: 1.6;
  }
  
 .customer-2,.customer-3,.customer-1{
  position: relative;
  z-index: 2;
  justify-items: center;
  .bg-2{
    position: absolute;
    z-index: 1;
  }
  .customer{
    position: relative;
    z-index: 3;
    top: 30px;
    left: 0;
    display: flex;
    flex-direction: column;
  }
  .paragraph-4{
    text-align: start;
    margin-top: 30px;
    font-family: var(--first-font);
    font-size: 16;
    color: var(--bg-secondry);
    line-height: 1.6;
  }
}
.bg-2{
  position: absolute;
  z-index: 1;
}
.customer{
  position: relative;
  z-index: 3;
  top: 30px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.customer img{
  display: flex;
}

.paragraph-4{
  margin-top: 30px;
  font-family: var(--first-font);
  font-size: 16;
  color: var(--bg-secondry);
  line-height: 1.6;
}
.choose-us1{
    background-color: var(--bg-primary);
    height: 788px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    .choose{
       h4{
        margin-top: 20px;
        font-family: var(--second-font);
        font-size: 25px;
        font-weight: 700;
        color: var(--bg-accent);
      }
      h3{
        font-family: var(--second-font);
        font-size: 52px;
        font-weight: 700;
        color: var(--bg-secondry);
        margin-top: 20px;
    }
    }
    .Money{
      display: flex;
      gap: 20px;
      h5{
        margin-top: 15px;
        font-family: var(--second-font);
        font-size: 24px;
        font-weight: var(--font-weight);
        color: var(--bg-secondry);
      }
      .paragraph-4{
        margin-top: 20px;
        font-family: var(--first-font);
        font-size: 16;
        color: var(--bg-secondry);
        line-height: 1.6;
      }
    }
    .lock{
      display: flex;
      gap: 20px;
      h5{
        margin-top: 15px;
        font-family: var(--second-font);
        font-size: 24px;
        font-weight: var(--font-weight);
        color: var(--bg-secondry);
      }
      .paragraph-4{
        margin-top: 20px;
        font-family: var(--first-font);
        font-size: 16;
        color: var(--bg-secondry);
        line-height: 1.6;
      }
    }
    .clean{
      display: flex;
      gap: 20px;
      h5{
        margin-top: 15px;
        font-family: var(--second-font);
        font-size: 24px;
        font-weight: var(--font-weight);
        color: var(--bg-secondry);
      }
      .paragraph-4{
        margin-top: 20px;
        font-family: var(--first-font);
        font-size: 16;
        color: var(--bg-secondry);
        line-height: 1.6;
      }
    }
    .clock{
      display: flex;
      gap: 20px;
      h5{
        margin-top: 15px;
        font-family: var(--second-font);
        font-size: 24px;
        font-weight: var(--font-weight);
        color: var(--bg-secondry);
      }
      .paragraph-4{
        margin-top: 20px;
        font-family: var(--first-font);
        font-size: 16;
        color: var(--bg-secondry);
        line-height: 1.6;
      }
    }
    .choose-1{
      display: flex;
      flex-direction: column;
      gap: 40px;
      .paragraph-4{
        margin-top: 30px;
        font-family: var(--first-font);
        font-size: 16;
        color: var(--bg-secondry);
        line-height: 1.6;
      }
    }
  }






  


